<html>

<head>

</head>

<body>
    <h1>Sign Up</h1>

    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <div class="g-recaptcha" data-sitekey="6LdeZeoUAAAAALcxL-TeiBP1uo78d906c8PAD0JO"></div><br>
        <input type="submit" value="Sign Up">

    </form>
</body>
<script src="https://www.google.com/recaptcha/api.js"></script>

</html>